In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
user = pd.read_csv('User.csv')
content = pd.read_csv('Content.csv')
reaction_types = pd.read_csv('ReactionTypes.csv')
reaction = pd.read_csv('Reactions.csv')
profile = pd.read_csv('Profile.csv')
session = pd.read_csv('Session.csv')

In [3]:
content.drop('Unnamed: 0',axis=1,inplace=True)
reaction_types.drop('Unnamed: 0',axis=1,inplace=True)
reaction.drop(['Unnamed: 0','User ID'],axis=1,inplace=True)
profile.drop('Unnamed: 0',axis=1,inplace=True)
session.drop('Unnamed: 0',axis=1,inplace=True)

In [4]:
df = content.merge(profile, how='left', on='User ID')
df = df.merge(session, how='left', on='User ID')
df = df.merge(reaction, how='left', on='Content ID')
df = df.rename(columns={'Type_x':'Cont_Type','Type_y':'Type'})
df = df.merge(reaction_types, how='left', on='Type')
df = df.rename(columns={'Type':'React_Type'})

In [5]:
df.drop("Duration",axis=1,inplace=True)
df.drop("Device",axis=1,inplace=True)
df.drop('URL',axis=1,inplace=True)

In [6]:
df.head()

,Content ID,User ID,Cont_Type,Category,Interests,Age,React_Type,Datetime,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,"['education', 'studying']",13,NaN,2021-04-22 15:17:15,NaN,NaN
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,"['education', 'studying']",13,disgust,2020-11-07 09:43:50,negative,0.0
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,"['education', 'studying']",13,dislike,2021-06-17 12:22:51,negative,10.0
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,"['education', 'studying']",13,scared,2021-04-18 05:13:58,negative,15.0
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,"['education', 'studying']",13,disgust,2021-01-06 19:13:01,negative,0.0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25573 entries, 0 to 25572
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  25573 non-null  object
 1   User ID     25573 non-null  object
 2   Cont_Type   25573 non-null  object
 3   Category    25573 non-null  object
 4   Interests   25573 non-null  object
 5   Age         25573 non-null  int64
 6   React_Type  24573 non-null  object
 7   Datetime    25553 non-null  object
 8   Sentiment   24573 non-null  object
 9   Score       24573 non-null  float64
dtypes: float64(1), int64(1), object(8)
memory usage: 2.1+ MB

In [8]:
df.isnull().sum()

Content ID       0
User ID          0
Cont_Type        0
Category         0
Interests        0
Age              0
React_Type    1000
Datetime        20
Sentiment     1000
Score         1000
dtype: int64

In [9]:
df1 = df.dropna()

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24573 entries, 1 to 25572
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  24573 non-null  object
 1   User ID     24573 non-null  object
 2   Cont_Type   24573 non-null  object
 3   Category    24573 non-null  object
 4   Interests   24573 non-null  object
 5   Age         24573 non-null  int64
 6   React_Type  24573 non-null  object
 7   Datetime    24573 non-null  object
 8   Sentiment   24573 non-null  object
 9   Score       24573 non-null  float64
dtypes: float64(1), int64(1), object(8)
memory usage: 2.1+ MB

In [11]:
df1['Category'].unique()

array(['Studying', 'healthy eating', 'technology', 'food', 'cooking',
       'dogs', 'soccer', 'public speaking', 'science', 'tennis', 'travel',
       'fitness', 'education', 'studying', 'veganism', 'Animals',
       'animals', 'culture', '"culture"', 'Fitness', '"studying"',
       'Veganism', '"animals"', 'Travel', '"soccer"', 'Education',
       '"dogs"', 'Technology', 'Soccer', 'Culture', '"food"', 'Food',
       '"technology"', 'Healthy Eating', '"cooking"', 'Science',
       '"public speaking"', '"veganism"', 'Public Speaking', '"science"'],
      dtype=object)

In [17]:
df1['Category'] = df1['Category'].replace('"', '', regex = True)
df1['Category']= df1['Category'].str.lower()

<ipython-input-17-22bff12d1b42>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Category'] = df1['Category'].replace('"', '', regex = True)
<ipython-input-17-22bff12d1b42>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Category']= df1['Category'].str.lower()

In [13]:
df1['Category'].unique()

array(['studying', 'healthy eating', 'technology', 'food', 'cooking',
       'dogs', 'soccer', 'public speaking', 'science', 'tennis', 'travel',
       'fitness', 'education', 'veganism', 'animals', 'culture'],
      dtype=object)

In [14]:
df1.to_csv('data.csv', index = False)

In [15]:
df1.groupby('Category').agg({"React_Type" : "count"}).reset_index().sort_values(by='React_Type', ascending=False).head(5)

          Category  React_Type
0          animals        1897
9          science        1796
7   healthy eating        1717
6             food        1699
12      technology        1698

In [16]:
df1.groupby('Category').agg({'Score': 'sum'}).reset_index().sort_values(by="Score", ascending=False).head()

          Category    Score
0          animals  74965.0
9          science  71168.0
7   healthy eating  69339.0
12      technology  68738.0
6             food  66676.0